@import "tailwindcss";
@import "./variables.css";
@import "./vendors/index.css";
@import "./components.css";

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-default {
  background-image: url("@/assets/images/bg-default.jpg");
  background-size: cover;
}

.bg-home {
  background-image: url("@/assets/images/bg-home.jpg");
  background-size: cover;
}

.bg-with-logo {
  background-image: url("@/assets/images/bg-with-logo.jpg");
  background-position: left bottom;
}

.card-withe-transparent {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  border: 1px solid var(--blue);
  position: relative;
}


.btn {
  @apply w-full text-xl rounded-xl px-4 py-2 text-white font-medium disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-full {
  @apply block w-full text-center;
}

.btn-orange {
  background-image: linear-gradient(to bottom, var(--orange-light), var(--orange));
  border: 3px solid white;
}

.btn-blue {
  background-color: #25b5d0;
  background-image: linear-gradient(#2ac1d6, #25b5d0);
  text-shadow: 1px 1px 1px rgba(16, 8, 6, 0.2);
  border: 3px solid var(--yellow);
}

.text-blue {
  color: var(--blue);
}