@import "tailwindcss";
@import "./variables.css";
@import "./vendors/index.css";
@import "./components.css";

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-default {
  background-image: url("@/assets/images/bg-default.jpg");
}

.bg-home {
  background-image: url("@/assets/images/bg-home.jpg");
}

.bg-with-logo {
  background-image: url("@/assets/images/bg-with-logo.jpg");
  background-position: left bottom;
}

.card-withe-transparent {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 25px;
  border: 1px solid var(--color-primary);
  position: relative;
}


.btn {
  @apply w-full text-xl rounded-xl px-4 py-2 text-white font-medium disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-orange {
  background-image: linear-gradient(to bottom, var(--orange-light), var(--orange));
  border: 3px solid white;
  text-shadow: 1px 1px 2px rgba(16, 8, 6, 0.5);
}

.text-shadow-white {
  text-shadow: 1px 1px 2px rgb(3 103 166);
}

.text-blue {
  color: var(--color-primary);
}